<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    Twitter Register<br />
    <form method="POST" action="setDb">
        <input type="hidden" name="table" value="twiConf" />
        name:<input type="text" name="name" /><br />
        consumerKey:<input type="text" name="consumerKey" /><br />
        consumerSecret:<input type="text" name="consumerSecret" /><br />
        accessTokenKey:<input type="text" name="accessTokenKey" /><br />
        accessTokenSecret:<input type="text" name="accessTokenSecret" /><br />
        <input type="submit" value="登録" />
    </form><br /><br />
    Stream Register<br />
    <form method="POST" action="setDb">
        <input type="hidden" name="table" value="stream" />
        channel:<input type="text" name="channel" /><br />
        jusStream:<input type="text" name="jusStream" /><br />
        ustFMSUrl:<input type="text" name="ustFMSUrl" /><br />
        ustStream:<input type="text" name="ustStream" /><br />
        <input type="submit" value="登録" />
    </form><br /><br />
    Password Register<br />
    <form method="POST" action="setDb">
        <input type="hidden" name="table" value="password" />
        type:<input type="text" name="type" /><br />
        password:<input type="text" name="password" /><br />
        <input type="submit" value="登録" />
    </form><br /><br />
  </body>
</html>