<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%=registTable%><br />
    <% foreach( paramsKey in registParams ){ %>
        <%=paramsKey%> : <%=registParams[paramsKey]%><br />
    <% } %>
  </body>
</html>