<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
  </head>
  <body>
    <!--
    <input type="text" name="message" id="message" />
    <button id="btn">Send</button>
	-->
    Jus1 : <span id="mnr-chat1"></span><br />
	Jus2 : <span id="mnr-chat2"></span><br />
	Jus3 : <span id="mnr-chat3"></span><br />
	Jus4 : <span id="mnr-chat4"></span><br />
	Jus5 : <span id="mnr-chat5"></span><br />
	Jus6 : <span id="mnr-chat6"></span><br />
	<br /><br />
	meteornaka : <span id="meteornaka"></span><br />
	aot29 : <span id="aot29"></span><br />
  </body>
</html>